@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;400;500;600;700&family=Arimo:ital,wght@0,700;1,600&family=DynaPuff:wght@600;700&family=Frank+Ruhl+Libre:wght@600;700;900&family=Gloria+Hallelujah&family=IBM+Plex+Sans:ital,wght@0,500;0,600;1,500&family=Indie+Flower&family=Lavishly+Yours&family=Mulish:ital@1&family=Orbitron&family=Pacifico&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&family=Telex&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.h-24 {
  height: 24px;
}

.icon {
  cursor: pointer;
}

h1 {
  font-size: 1.5rem;
  padding: 5px 0;
  line-height: 1.5;
}

h2 {
  font-size: 1.1rem;
  padding: 5px 0;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  padding: 5px 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  border-bottom: 1px solid #eee;
}

header .navigation {
  max-width: 1000px;
  margin: auto;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.navigation .wrap-logo .logo {
  width: 120px;
  height: 35px;
  display: block;
  background: url(../img/logo.png) center center/112px no-repeat;
  object-fit: cover;
}

.navigation .buttons {
  display: flex;
  column-gap: 10px;
}

.navigation .menu {
  margin-left: auto;
  display: flex;
  justify-content: center;
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.navigation .menu .main > a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: black;
}

/*----main-------*/
.container {
  max-width: 1000px;
  margin: auto;
  padding: 12px;
}

.container .wrap-article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  column-gap: 20px;
  row-gap: 20px;
}

.container .wrap-article .wrap-item.item-featured {
  flex: 3;
}

.container .wrap-article .wrap-item.item-topic {
  flex: 3;
}

.container .wrap-article .wrap-item.item-library {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container .wrap-article .wrap-item.item-trending {
  flex: 1.5;
}

.container .wrap-article .wrap-item.item-horizontal {
  flex: 1 1 100%;
}

.container .wrap-article .wrap-item.item-listnews {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;

  row-gap: 20px;
}

.container .wrap-article .wrap-item.item-donors {
  flex: 1 1 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 15px;
}

.container .wrap-article .wrap-item.item-ques {
  flex: 1 1 100%;
}

/*------------*/
.container .wrap-article .wrap-item.item-featured .box-feat .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-featured .box-feat .story .des {
  padding: 15px;
}

.container .wrap-article .wrap-item.item-featured .box-feat .story .title {
  font-size: 1.5rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-featured .box-feat .sapo {
  font-size: 1rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-trending .story {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  column-gap: 20px;

  padding-bottom: 20px;
}

.container .wrap-article .wrap-item.item-trending .story .thumb {
  flex: 1.6;
}

.container .wrap-article .wrap-item.item-trending .story .title {
  flex: 2;
  font-size: 1rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-trending .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-horizontal .box-content {
  display: flex;

  column-gap: 20px;
  row-gap: 20px;
}

.container .wrap-article .wrap-item.item-horizontal .box-content .story {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  column-gap: 20px;
}

.container .wrap-article .wrap-item.item-horizontal .box-content .story .thumb {
  flex: 1;
}

.container .wrap-article .wrap-item.item-horizontal .box-content .story .title {
  flex: 2;
  font-size: 1rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-horizontal .box-content .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-topic .box-intro {
  display: flex;

  justify-content: space-between;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;

  border-radius: 10px;
}

.container .wrap-article .wrap-item.item-topic .box-letter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

  column-gap: 10px;
}

.container .wrap-article .wrap-item.item-topic .box-letter .title {
  font-size: 1rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-topic .box-member {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

  column-gap: 10px;
}

.container .wrap-article .wrap-item.item-topic .box-member .title {
  font-size: 1rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-topic .box-companion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

  column-gap: 10px;
}

.container .wrap-article .wrap-item.item-topic .box-companion .title {
  font-size: 1rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item .story {
  display: flex;
  justify-content: space-between;

  column-gap: 20px;
  padding: 20px 0px;

  border-bottom: 1px solid #e9e9e9;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic {
  display: flex;

  column-gap: 20px;
  padding-top: 20px;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item.list {
  flex: 2;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item.event {
  flex: 1;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-radius: 10px;

  padding: 20px;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item.list .story .thumb {
  flex: 1.3;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item.list .story .des {
  flex: 2;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item.list .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item.list .story .des .title {
  font-size: 1rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item.list .story .des .sapo {
  font-size: 1rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item.event .title-cate {
  position: relative;
  width: 100%;
  border-top: 2px solid rgb(2, 94, 140);
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item.event p {
  font-size: 1rem;
  font-weight: 700;
  max-width: 90%;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, 0px);
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0px auto;
  padding: 0px 10px;
  background: rgb(255, 255, 255);
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item.event p a {
  color: rgb(2, 94, 140);
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item.event .story {
  display: flex;
  flex-direction: column;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item.event .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-library .box-albums {
  padding: 20px;
  background-image: linear-gradient(178deg, rgb(244 237 229 / 50%) -2.55%, rgb(244, 237, 229) 63.5%), url(../img/halong.jpg);
  border-radius: 10px;
}

.container .wrap-article .wrap-item.item-library .box-albums .box-title {
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: rgb(2, 94, 140);
  border-bottom: 1px solid rgb(2, 94, 140);
}

.container .wrap-article .wrap-item.item-library .box-albums .box-title a {
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgb(2, 94, 140);
  font-weight: 600;
}

.container .wrap-article .wrap-item.item-library .box-albums .box-content .story {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;

  column-gap: 10px;
}

.container .wrap-article .wrap-item.item-library .box-albums .box-content .story .thumb {
  flex: 1.5;
}

.container .wrap-article .wrap-item.item-library .box-albums .box-content .story .title {
  flex: 2;
  font-size: 1rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-library .box-albums .box-content .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-library .box-media .list-video {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;

  padding: 20px;
}

.container .wrap-article .wrap-item.item-library .box-media {
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.container .wrap-article .wrap-item.item-library .box-media .box-title {
  display: flex;
  align-items: center;

  column-gap: 20px;
  padding: 20px;
  color: rgb(2, 94, 140);
  border-bottom: 1px solid rgb(2, 94, 140);
}
.container .wrap-article .wrap-item.item-library .box-media .box-title a {
  color: rgb(2, 94, 140);
  font-size: 1.2rem;
  font-weight: 600;
}
.container .wrap-article .wrap-item.item-library .box-media .list-video .story {
  flex: 1 1 100px;
}

.container .wrap-article .wrap-item.item-library .box-media .list-video .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-listnews .title-cate {
  position: relative;
  width: 100%;
  border-top: 1px solid rgb(2, 94, 140);
  padding-top: 10px;
}

.container .wrap-article .wrap-item.item-listnews .title-cate p {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.container .wrap-article .wrap-item.item-listnews .title-cate p a {
  color: rgb(2, 94, 140);
}

.container .wrap-article .wrap-item.item-listnews .wrap-list {
  display: flex;
  justify-content: space-between;

  column-gap: 20px;
}

.container .wrap-article .wrap-item.item-listnews .wrap-list .box-left {
  flex: 1.5;
}

.container .wrap-article .wrap-item.item-listnews .wrap-list .box-right {
  flex: 2;
}

.container .wrap-article .wrap-item.item-listnews .wrap-list .box-left .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-listnews .wrap-list .box-left .story .des {
  padding: 20px;
}

.container .wrap-article .wrap-item.item-listnews .wrap-list .box-left .story .des .title {
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-listnews .wrap-list .box-left .story .des .sapo {
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-listnews .wrap-list .box-right {
  display: flex;
  flex-wrap: wrap;

  column-gap: 20px;
  row-gap: 20px;
}

.container .wrap-article .wrap-item.item-listnews .wrap-list .box-right .story {
  flex: 1 1 140px;
}

.container .wrap-article .wrap-item.item-listnews .wrap-list .box-right .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-ques {
  display: flex;
  justify-content: space-between;

  column-gap: 20px;
}

.container .wrap-article .wrap-item.item-ques .col-boxcate {
  flex: 3;
  border-top: 1px solid rgb(2, 94, 140);
}

.container .wrap-article .wrap-item.item-ques .col-boxques {
  flex: 1;
  border-top: 1px solid rgb(2, 94, 140);
}

.container .wrap-article .wrap-item.item-ques .col-boxques .box-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.container .wrap-article .wrap-item.item-ques .col-boxcate .title-cate {
  padding: 10px 0px;
}

.container .wrap-article .wrap-item.item-ques .col-boxcate .title-cate p {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.container .wrap-article .wrap-item.item-ques .col-boxcate .title-cate p a {
  color: rgb(2, 94, 140);
}

.container .wrap-article .wrap-item.item-ques .col-boxcate .list-content {
  display: flex;
  justify-content: space-between;

  column-gap: 20px;
}

.container .wrap-article .wrap-item.item-ques .col-boxcate .list-content .box-left {
  flex: 1.5;
}

.container .wrap-article .wrap-item.item-ques .col-boxcate .list-content .box-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.container .wrap-article .wrap-item.item-ques .col-boxcate .list-content .box-left .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-ques .col-boxcate .list-content .box-right .story {
  display: flex;
  row-gap: 20px;
  column-gap: 20px;
}

.container .wrap-article .wrap-item.item-ques .col-boxcate .list-content .box-right .story .thumb {
  flex: 1;
}

.container .wrap-article .wrap-item.item-ques .col-boxcate .list-content .box-right .story .title {
  flex: 2;
}

.container .wrap-article .wrap-item.item-ques .col-boxcate .list-content .box-right .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-ques .col-boxques .title-cate {
  padding: 10px 0px;
}

.container .wrap-article .wrap-item.item-ques .col-boxques .title-cate p {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.container .wrap-article .wrap-item.item-ques .col-boxques .title-cate p a {
  color: rgb(2, 94, 140);
}

.container .wrap-article .wrap-item.item-ques .col-boxques .box-content .story {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.container .wrap-article .wrap-item.item-ques .col-boxques .box-content .story .thumb {
  flex: 1.5;
}

.container .wrap-article .wrap-item.item-ques .col-boxques .box-content .story .title {
  flex: 2;
}

.container .wrap-article .wrap-item.item-ques .col-boxques .box-content .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-donors .title-cate {
  text-align: center;
  padding: 10px 0 20px;
}
.container .wrap-article .wrap-item.item-donors .title-cate h2 a {
  text-transform: uppercase;
  color: rgb(2, 94, 140);
}
.container .wrap-article .wrap-item.item-donors .box-donors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px 20px;
  justify-content: center;
  row-gap: 20px;
  column-gap: 30px;
}

/*----footer-----*/
.footer {
  width: calc(100% - 100px);
  margin: auto;
  padding: 12px;
}

.footer-info {
  display: flex;
  padding-top: 25px;
  margin-top: 20px;

  column-gap: 20px;
  border-top: 1px solid #e9e9e9;
  justify-content: space-between;
}

.footer-info .rank-1 {
  display: flex;
  column-gap: 20px;
}

.wrap-logo .logo-1 {
  background: url(../img/logo.png) center center/130px no-repeat;
  width: 130px;
  height: 41px;
  display: block;
  margin-bottom: 13px;
}

.wrap-logo .logo-2 {
  background: url(../img/bank.png) center center no-repeat;
  width: 130px;
  height: 59px;
  display: block;
}

.footer ul {
  display: flex;
  margin-bottom: 30px;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.footer-info .rank-2 {
  text-align: right;
}

.footer-text {
  font-size: 12px;
  color: #666;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 100px);
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: calc(100% - 100px);
  }
  .wrap-body .notebox {
    width: 50%;
  }
  .container .wrap-article .wrap-item.item-topic {
    flex: 100%;
  }
  .container .wrap-article .wrap-item.item-library {
    display: flex;
    flex-direction: row;

    column-gap: 20px;
  }
  .container .wrap-article .wrap-item.item-library .box-albums {
    flex: 1;
  }
  .container .wrap-article .wrap-item.item-library .box-media {
    flex: 2;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: calc(100% - 50px);
  }
  .wrap-more .title-cate h3 {
    font-size: 1.5rem;
  }
  .wrap-list .title-cate h3 {
    font-size: 1.5rem;
  }
  .box-listnews {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .box-listnews .list-right .box-article .number {
    font-size: 3rem;
  }
  .box-listnews .list-right .box-article .story {
    column-gap: 20px;
  }
  .box-listnews .list-right .box-top .story .des {
    column-gap: 20px;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
  }
  .footer-info .rank-1 {
    border-bottom: 1px solid #e9e9e9;
    padding: 20px 0px;
  }
  .footer-info .rank-2 {
    text-align: center;
  }
  .footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: calc(100% - 10px);
  }
  .wrap-body .notebox {
    width: 100%;
    margin: 0px;
  }
  .wrap-more .box-more .story {
    width: 47%;
  }
  .wrap-list .box-list .story .des .sapo {
    display: none;
  }
  .wrap-more .box-more .story .title {
    font-size: 1rem;
  }
  .wrap-list .box-list .story .des .title {
    font-size: 1rem;
  }
  .wrap-list .box-list .story .thumb {
    flex: 1.5;
  }
  .wrap-page .box-hotnew {
    display: flex;
    flex-direction: column;

    row-gap: 20px;
  }
  .wrap-page .box-hotnew .item-right {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
  .container .wrap-article .wrap-item.item-topic .box-intro {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  }
  .container .wrap-article .wrap-item.item-topic .box-companion .title {
    text-align: center;
  }
  .container .wrap-article .wrap-item.item-topic .box-member .title {
    text-align: center;
  }
  .container .wrap-article .wrap-item.item-topic .box-letter .title {
    text-align: center;
  }
  header .navigation {
    display: none;
  }

  .container .wrap-article {
    display: flex;
    flex-direction: column;
  }

  .container .wrap-article .wrap-item.item-trending {
    display: flex;
    column-gap: 20px;
  }

  .container .wrap-article .wrap-item.item-horizontal .box-content {
    display: flex;
    flex-direction: column;
  }

  .container .wrap-article .wrap-item.item-horizontal .box-content .story {
    display: flex;
    flex-direction: row;
  }
  .container .wrap-article .wrap-item.item-topic .box-listtopic {
    display: flex;
    flex-direction: column;
  }
  .container .wrap-article .wrap-item.item-topic .box-listtopic .item.event .event-list {
    display: flex;
    column-gap: 20px;
  }
  .container .wrap-article .wrap-item.item-library {
    display: flex;
    flex-direction: column;
  }

  .container .wrap-article .wrap-item.item-topic .box-letter {
    display: flex;
    flex-direction: column;
  }
  .container .wrap-article .wrap-item.item-topic .box-member {
    display: flex;
    flex-direction: column;
  }
  .container .wrap-article .wrap-item.item-topic .box-companion {
    display: flex;
    flex-direction: column;
  }
  .container .wrap-article .wrap-item.item-topic .box-listtopic .item.list .story .des .sapo {
    display: none;
  }
  .container .wrap-article .wrap-item.item-topic .box-listtopic .item.list {
    order: 2;
  }
  .container .wrap-article .wrap-item.item-topic .box-listtopic .item.event {
    order: 1;
  }
  .container .wrap-article .wrap-item.item-ques {
    display: flex;
    flex-direction: column;
  }
  .container .wrap-article .wrap-item.item-ques .col-boxcate .list-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .container .wrap-article .wrap-item.item-listnews .wrap-list {
    display: flex;
    flex-direction: column;
  }
  .footer-info .rank-1 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .footer-info .rank-1 .wrap-logo {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 480px) {
  .wrap-body .title {
    font-size: 1.5rem;
    text-align: justify;
  }
  .wrap-body .sapo {
    font-size: 1.2rem;
    text-align: justify;
  }
  .wrap-body .article-content p {
    font-size: 1.2rem;
  }
  .wrap-body p strong {
    font-size: 1.2rem;
  }
  .wrap-body .notebox h3 {
    font-size: 1.2rem;
  }
  .wrap-more .title-cate h3 {
    font-size: 1.2rem;
  }
  .wrap-more .box-more .story {
    width: 46%;
  }
  .wrap-list .box-list .story .thumb {
    flex: 1.3;
  }
  .wrap-list .title-cate h3 {
    font-size: 1.2rem;
  }
  .box-social {
    row-gap: 10px;
  }
  .box-listnews .list-left .des .sapo {
    display: none;
  }
  .box-listnews .list-left .des .title {
    font-size: 1.2rem;
  }
  .footer {
    width: calc(100% - 50px);
  }
}
