@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;400;500;600;700&family=Arimo:ital,wght@0,700;1,600&family=DynaPuff:wght@600;700&family=Gloria+Hallelujah&family=IBM+Plex+Sans:ital,wght@0,500;0,600;1,500&family=Indie+Flower&family=Lavishly+Yours&family=Mulish:ital@1&family=Orbitron&family=Pacifico&family=Poppins:wght@400;600;700;800;900&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;

  background: #990000;
}

.navigation .wrap-logo .logo {
  width: 120px;
  height: 35px;
  display: block;
  background: url(../img/logo.png) center center/112px no-repeat;
  object-fit: cover;
}
.navigation .menu {
  display: flex;
  justify-content: center;
}
ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.navigation .menu .main > a {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.5;
  height: 40px;
  padding: 0 10px;
  color: #fff;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}

/*----main-------*/
.container {
  width: calc(100% - 300px);
  margin: auto;
  padding: 12px;
}

.container .wrap-article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  column-gap: 20px;
  row-gap: 20px;
}

.container .wrap-article .wrap-item {
  flex: 1 1 500px;
  height: auto;

  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container .wrap-article .wrap-item.item-featured {
  flex: 1 1 900px;
}
.container .wrap-article .wrap-item.item-horizontal {
  flex: 1 1 100%;
}
.container .wrap-article .wrap-item.item-topic {
  flex: 1 1 900px;
}

/*------------*/
.container .wrap-article .wrap-item.item-featured .box-feat .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-featured .box-feat .story .des {
  padding: 20px;
}

.container .wrap-article .wrap-item.item-featured .box-feat .story .title {
  font-size: 2rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-featured .box-feat .sapo {
  font-size: 1.5rem;
  line-height: 1.5;
}
.container .wrap-article .wrap-item.item-trending .story {
  display: flex;
  flex-wrap: wrap;

  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 20px;
}
.container .wrap-article .wrap-item.item-trending .story .thumb {
  flex: 1.6;
}

.container .wrap-article .wrap-item.item-trending .story .title {
  flex: 2;
  font-size: 1.2rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-trending .story .thumb img {
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container .wrap-article .wrap-item.item-horizontal .box-content {
  display: flex;

  column-gap: 20px;
  row-gap: 20px;
}
.container .wrap-article .wrap-item.item-horizontal .box-content .story {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
}

.container .wrap-article .wrap-item.item-horizontal .box-content .story .thumb {
  flex: 1;
}

.container .wrap-article .wrap-item.item-horizontal .box-content .story .title {
  flex: 2;
  font-size: 1.2rem;
  line-height: 1.5;
}
.container .wrap-article .wrap-item.item-horizontal .box-content .story .thumb img {
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-topic .box-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  row-gap: 20px;
  padding: 20px 0px;
  border: 1px solid #ddd;
}
.container .wrap-article .wrap-item.item-topic .box-letter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

  column-gap: 20px;
}

.container .wrap-article .wrap-item.item-topic .box-letter .title {
  font-size: 1.3rem;
  line-height: 1.5;
}
.container .wrap-article .wrap-item.item-topic .box-member {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

  column-gap: 20px;
}

.container .wrap-article .wrap-item.item-topic .box-member .title {
  font-size: 1.3rem;
  line-height: 1.5;
}
.container .wrap-article .wrap-item.item-topic .box-companion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

  column-gap: 20px;
}
.container .wrap-article .wrap-item.item-topic .box-companion .title {
  font-size: 1.3rem;
  line-height: 1.5;
}
.container .wrap-article .wrap-item.item-topic .box-listtopic .item .story {
  display: flex;
  justify-content: space-between;

  column-gap: 20px;
  padding: 20px 0px;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item .story .thumb {
  flex: 1.3;
}
.container .wrap-article .wrap-item.item-topic .box-listtopic .item .story .des {
  flex: 2;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item .story .thumb img {
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item .story .des .title {
  font-size: 1.3rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-topic .box-listtopic .item .story .des .sapo {
  font-size: 1.3rem;
  line-height: 1.5;
}
.container .wrap-article .wrap-item.item-library .box-albums {
  padding: 20px;
  background-image: linear-gradient(178deg, rgb(244 237 229 / 50%) -2.55%, rgb(244, 237, 229) 63.5%),
    url(https://photo-cms-plo.epicdn.me/Uploaded/2022/wpdhncwqr/2022_12_12/2-5553.jpg);
}
.container .wrap-article .wrap-item.item-library .box-albums .box-title {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.container .wrap-article .wrap-item.item-library .box-albums .box-title a {
  font-size: 1.5rem;
  line-height: 1.5;
}
.container .wrap-article .wrap-item.item-library .box-albums .box-content .story {
  display: flex;
  justify-content: space-between;
}
.container .wrap-article .wrap-item.item-library .box-albums .box-content .story .thumb {
  flex: 1;
}

.container .wrap-article .wrap-item.item-library .box-albums .box-content .story .title {
  flex: 2;
  font-size: 1.3rem;
  line-height: 1.5;
}

.container .wrap-article .wrap-item.item-library .box-albums .box-content .story .thumb img {
  width: 100%;
  border-radius: 5px;
}
/*----footer-----*/
.footer {
  flex: 1 1 900px;
  margin: 5px;

  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
